BODY {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
  }
  #workfuck{color: red}
  canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
  }
  
  a {
    color: #bbbbc4;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }
  a:hover {
    color: #fc3565;
  }
  
  h1 {
    color: #fc3565;
    padding-bottom: 0px;
    margin-bottom: 1%;
  }